@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
@import url("hover-page-two.css");


body{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.08;
    color: rgba(73, 80, 87, 0.5);
    background-color: #fff;
}

.wrapper {
    
    overflow: clip;
    min-height: 100%;
}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ----------------------------------- */
.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 20;
}
.main {
}
.main:not(:last-child){
    margin-bottom: 100px;
}
@media (max-width:991.98px) {
    .main:not(:last-child){
        margin-bottom: 60px;
    }
}
@media (max-width:767.98px) {
    .main:not(:last-child){
        margin-bottom: 40px;
    }
}
@media (max-width:500.98px) {
    .main:not(:last-child){
        margin-bottom: 30px;
    }
}

.footer {
     background-color: #212529;
}
/* ----------------------------------- */

/* ---------------------- */

/* --- flex-box ---*/
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 38px;
    column-gap: 30px;
    row-gap: 10px;
   
}


/* --- flex-element ---*/
.header__logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
    color: #495057;
    transform-origin: 0 50%;
    transition: 0.4s all;
    display: flex;
    gap: 1px;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.header__logo::after{
    content: ".";
    color:#DDBEA9;
}




/* --- flex-element ---*/
/* flex-box */
.header__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 25px;
}

/* flex-element */
.header__item {}



.header__item_parent{
    padding-right: 13px;
    position: relative;
}
.header__item_parent::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2.4px;
    width: 8px;
    height: 4.8px;
   
    background: url("../img/icon/menu-arrow.svg") center / contain no-repeat;
}

.page-topic__link,
.header__link {
    display: inline-block;
    position: relative;
    
     transition: all 0.4s;
}
.page-topic__link::before,
.header__link::before{
    content: "";
    width: 0;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #DDBEA9;
    transition: all 0.4s;
}


.page-topic__link_active,
.header__item_active{
    color:#495057;
}
.page-topic__link_active::before,
.header__item_active .header__link::before{
    left: 0;
    width: 100%;
    
}

/* --- flex-element ---*/
/* flex-box */
.header__buttons {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* flex-element */
.header__button {
}

button{
    padding: 7.5px 15px;
    background-color: #DDBEA9;
    color: #F8F9FA;
    border-radius: 50px;
    transition: all 0.4s;
}

.header__sign-in {
    color: rgba(73, 80, 87, 0.5);
    background-color: #fff;
}
.header__get-start {
}



.header__menu-icon{
    display: none;
}

/* ---- sub-menu ---- */




.sub-menu {
}

/* =flex-box= */
.sub-menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background-color: #212529;
    border-radius: 5px;
}

/* =flex-element= */
.sub-menu__item {
}
.sub-menu__link {
    transition: all 0.4s;
    color: rgba(248, 249, 250, 0.6);
}
.sub-menu__link:hover,
.sub-menu__link_active{
    color: #F8F9FA;
}

/* --- header media ------ */

@media (max-width:991.98px) {
    .header__container{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width:767.98px) {
    .header__container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media (min-width:660.2px){
    .header__sub-menu {
    position: absolute;
    top:100%;
    left: -20%;
    padding-top: 0;
    min-width: 136px;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}
@media (max-width:660px) {
    
    .header:not(:last-child){
        margin-bottom: 20px;
    }
    .header__menu{
       position: fixed;
       top: 0;
       right:100%;
       padding:100px 15px 15px;
       align-items: flex-start;
       flex-wrap: nowrap; 
       background: #fff;
       z-index: 1;
       width: 100%;
       height: 100%;
      
       flex-direction: column;
       row-gap: 10px;
       align-items: flex-start;
       overflow: auto;
       transition: all 0.4s;
    }
    .header__menu::before{
        transition: all 0.4s;
        content: "";
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        height: 70px;
        background-color: #fff;
        z-index: 2;
    }

    .menu-open .header__menu::before,
    .menu-open .header__menu{
        right: 0;
    }


    .header__link{
         color: #212529;
        font-size: 35px;
        font-weight: 700;
    }
    .header__item_parent::after{
        top: 35px;
        transform: scale(2) translateX(8px);
    }

    .sub-menu__list{
        padding: 0;
        background-color: #fff;

    }

    .sub-menu__link{
        font-size: 20px;
        color: #212529;
    }

    .header__menu-icon{
        position: relative;
        z-index: 2;
        display: block;
        height: 24px;
        flex: 0 0 30px;
        position: relative;
        background-color: #fff;
        border-radius: 0;
    }

    .header__sub-menu{
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
        display: none;
    }

    .sub-menu-open_inspiration .header__item_inspiration .header__sub-menu{
        opacity: 1;
        visibility: visible;
         display: block;
    }

      .sub-menu-open_blog .header__item_blog .header__sub-menu{
        opacity: 1;
        visibility: visible;
         display: block;
    }

    

    .header__menu-icon::before,
    .header__menu-icon::after,
    .header__menu-icon span{
        content:  "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: black;
        transition: all 0.3s;
    }
    .header__menu-icon span{
        top:50%;
        margin-top: -1px;
    }
    .header__menu-icon::before{
        top: 0;
    }
    .header__menu-icon::after{
        bottom: 0;
    }



    .menu-open .header__menu-icon span{
        left: 50%;
        width: 0;
    }
     
    .menu-open .header__menu-icon::before{
        top:50%;
        margin-top: -1px;
        transform: rotate(45deg) ;
    }
    .menu-open .header__menu-icon::after{
        bottom:50%;
        margin-bottom: -1px;
        transform: rotate(-45deg) ;
    }


    .header__logo{
        flex-grow: 1;
    }
    .header__container{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width:425px){
    .header__menu{
        align-items: center;
        text-align: center;
    }
}

@media (max-width:375px) {
  
    .header__container{
        column-gap: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__logo{
        font-size: 16px;
        flex-grow: 0;
    }
   
    
}



/* ====== main ========= */
.main__page-image {
}

.main__page-image:not(:last-child) {
    margin-bottom: 100px;
}

.main__topics {
}

.main__topics:not(:last-child) {
    margin-bottom: 100px;
}

/* ---- page-image ---- */


.image-page {
}
.image-page__container {
   
}

.image-page__body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 192px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.image-page__background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    /* padding-bottom: 40.322581%; 500/1240 */
    border-radius: 5px;
    background-color: #212529;
    z-index: -1;
}

.image-page__background-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left:0;
    
}


.image-page__swipper,
.image-page__author {
    font-weight: 300;
   
    line-height: 1.67;
    color: #E5E5E5;
}

.image-page__swipper{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.image-page__swipper::before{
    content: "";
    width: 44px;
    height: 1px;
    background-color: #F8F9FA;
}

.image-page__swipper:not(:last-child),
.image-page__author:not(:last-child){
    margin-bottom: 15px;
}

.image-page__title {
    max-width: 500px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #F8F9FA;
}

.image-page__title:not(:last-child){
    margin-bottom: 193px;
}

@media (max-width:991.98px) {
    .image-page__title:not(:last-child){
        margin-bottom: 140px;
    }
    .image-page__body{
        padding-top: 140px;
    }
}

@media (max-width:850.98px) {
    .image-page__title:not(:last-child){
        margin-bottom: 100px;
    }
    .image-page__body{
        padding-top: 100px;
    }
}

@media (max-width:767.98px) {
    .image-page__title:not(:last-child){
        margin-bottom: 60px;
    }
    .image-page__body{
        padding-top: 60px;
        padding-bottom: 20px;
    }
}
@media (max-width:500.98px) {
    .image-page__title:not(:last-child){
        margin-bottom: 30px;
        font-size:20px;
        max-width: 400px;
    }
    .image-page__body{
        
        padding-top: 40px;
        padding-bottom: 15px;
    }
}

@media (max-width:400.98px) {
    .image-page__title:not(:last-child){
        margin-bottom: 20px;
    }
     .image-page__author:not(:last-child){
        margin-bottom: 0px;
    }
    .image-page__body{
        padding-top: 30px;
        padding-bottom: 10px;
    }
}


/* -------- main topics ---------- */

.topics {
}
.topics__contaienr {
}

/* ===flex-box=== */
.topics__body {
    display: flex;
    
    column-gap: 30px;
    row-gap: 10px;
}
/* ===flex-element=== */
.topics__advantages {
    flex: 0 1 393px;
    
}
.advantages {
}
.advantages__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 160%; /* 40/25 */
    color: #212529;
}

.advantages__title:not(:last-child){
    margin-bottom: 30px;
}

.advantages__list:not(:last-child){
    margin-bottom: 30px;
}
.advantages__list {
    display: flex;
    flex-flow: wrap column;
    row-gap: 10px;
}
.advantages__item {
}
.advantages__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #495057;
    transition: all 0.4s;
}
.advantages__link::before{
    content: "+";
    transition: all 0.4s;
}




.advantages__search{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.advantages__search::before {
    display: inline-block;
    
    content: "";
    width: 12px;
    height: 12px;
    background: url("../img/icon/search.svg") center /contain no-repeat;
}

.advantages__input{
    appearance: none;
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    color: #212529;
}

/* ===flex-element=== */
.topics__content {
}
.content-topic {
}

/* -- flex-box-- */
.content-topic__list {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
    
}
.content-topic__list:not(:last-child){
    margin-bottom: 60px;
}

/* -- flex-element-- */
/*  flex-box */
.content-topic__item {
    display: flex;
    column-gap: 31px;
}
.item-topic {
}

/*  flex-element */
.item-topic__image {
    position: relative;
    flex: 0 1 287px;
    width: 287px;
    padding-bottom: 33.057851%; /* 200/605 */
    border-radius: 3px;
    overflow: hidden;
}

.item-topic__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.4s;
}

/*  flex-element */
.item-topic__content {
    flex: 0 1 287px;
    width: 287px;
    font-weight: 300;
   
    line-height: 1.67;
    color: #6C757D;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
}




.item-topic__date {
}
.item-topic__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.56;
    color: #212529;
}
.item-topic__text {
}
.item-topic__line {
   
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}
.item-topic__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-topic__item {
}
.item-topic__author {
}
.item-topic__like {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.item-topic__like::before{
    content: "";
    width: 12.69px;
    height: 11.22px;
    background: url("../img/icon/like.svg") center/contain no-repeat;
}


/* ------ */
.content-topic__pages {
    display: flex;
    column-gap: 15px;
}
.content-topic__page {
}
.page-topic {
}

.page-topic__link {
}
.page-topic__link_active {
}

@media (max-width:991.98px) {
    .content-topic__item{
        column-gap: 20px;
    }
    .item-topic__content{
        row-gap: 10px;
    }
    .advantages__list:not(:last-child){
        margin-bottom: 15px;
    }
    .topics__body{
        row-gap:30px;
       flex-direction: column;
    }
    .topics__advantages{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%
    }
    .topics__content{
        flex: 0 0 100%;
    }
    .advantages__list{
        flex: 0 1 65%;
        column-gap: 30px;
        justify-content: center;
        flex-direction: row;
    }
    
    .item-topic__image{
        flex: 0 0 50%;
    }
    .item-topic__content{
        flex: 0 0 45%;
    }
    .advantages__title{
        text-align: center;
    }
    .content-topic__pages{
        justify-content: center;
    }
    .content-topic__list:not(:last-child){
        margin-bottom: 30px;
    }
    .main__page-image:not(:last-child){
        margin-bottom: 70px;
    }
}

@media (max-width:580.98px) {
   .content-topic__item{
        flex-wrap: wrap;
        row-gap: 20px;
   }
    .item-topic__image{
        flex: 0 0 100%;
    }
    .item-topic__content{
        flex: 0 0 100%;
    }
    .item-topic__image{
        padding-bottom: 66%;
    }
    .main__page-image:not(:last-child){
        margin-bottom: 40px;
    }
}

@media (max-width:400.98px) {
   .advantages__list{
    flex-direction: column;
   }
   .advantages__title{
    font-size: 20px;
   }
   .content-topic__list:not(:last-child){
    margin-bottom: 20px;
   }
   .main__page-image:not(:last-child){
    margin-bottom: 20px;
   }
}

/* ------------------- footer ----------------------- */

.footer__container {
    color: rgba(248, 249, 250, 0.5);
    padding: 100px 15px;
}
.footer__header {
}

.footer__header:not(:last-child){
    margin-bottom: 40px;
}
/* flex-box */
.header-footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.header-footer:not(:last-child){
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}


/* flex-element */
.header-footer__logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
    color: #F8F9FA;
    transform-origin: 0 50%;
    transition: all 0.4s;
}


/* flex-element */
.header-footer__menu {
    display: flex;
    column-gap: 23px;
}
.menu-footer {
}
.menu-footer__item {
}
.menu-footer__link {
}

/* flex-element */
.header-footer__social {
    display: flex;
    column-gap: 25px;
}
.social-footer {
}
.social-footer__item {
}
.social-footer__link {
}


/* -------- */
.footer__all-rights {
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    line-height: 1.67;
    color: rgba(248, 249, 250, 0.5);

}
.all-rights {
}
.all-rights__location {
}
.all-rights__rights {
}

.footer a{
    transition: all 0.4s;
}


@media (max-width:991.98px) {
    .footer__container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width:767.98px) {
    
    .footer__header:not(:last-child){
        margin-bottom: 20px;
    }
    .header-footer:not(:last-child){
        padding-bottom: 20px;
    }
}

@media (max-width:635.98px){
    .footer__container{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .header-footer {
       flex-direction: column;
       
    }
}