@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

body{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #6C757D;
    line-height: 1.8;   
   
}

[class *= "__container"]{
    max-width: 846px;
    padding: 0 15px;
    margin: 0 auto 80px;
}

.header__page,
.main__page{
    margin-bottom: 80px;
}


[class *= "__title"]{
    color: #212529;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.6;
}

.header__title{
    max-width: 400px;
}

.main__title{
    max-width: 605px;
}

[class*="__text"] p + p{
    margin-top: 36px;
}

.header__img,
.main__img{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

img{
    width: 100%;
}


.main__img{
    
    font-size: 0;
    text-align: center;
}



.main__img div{
    display: inline-block;
    max-width: 605px;
}



.img-boat{
   margin-right: 20px;
   

}
.img-lake{
    margin-left: 5px;
}



[class*="__container"]>.footer__text{
    margin-bottom: 40px;
}

.footer__title
{
    display: inline-block;
    color: forestgreen;
    font-size: 80px;
    margin-right: 30px;
    margin-bottom: 0;
}

.copyright{
    display: inline-block;
}

.copyright span,
.copyright a{
    font-weight: 700;
    font-size: 20px;
}

.copyright a{
    color: rgb(0, 208, 255);
}


.some-practice{
    text-align: center;
}

.testing{
    font-size: 0;
}

.overflow-scroll,
.overflow-auto{
    vertical-align: top;
    padding: 0 10px;
    color:crimson;
    font-size: 16px;
    max-width: 50%;
    display: inline-block;
    max-height: 150px;
    background-color: cadetblue;
}

.overflow-scroll{
    
    overflow-y: scroll;
}

.overflow-auto{
   
    white-space: nowrap;
    overflow-x: auto;
    background-color: burlywood;
}

h5{
 
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 15px;
    color: darkgreen;
    text-align: center;
}


.test-2{
    background: #6C757D;
    padding: 30px 0;
}

.fantom-space{
    
    /* padding: 30px 0; */
    margin-bottom: 30px;
}

.test-2 a{
    font-weight: 700;
    font-size: 30px;
   color: blue;
   background-color: yellow;
   display: inline-block;
   padding: 20px;
   
}

.margin-collapse a{
    width: 100%;
}

.margin-collapse a+a~a{
    background-color: green;
    display: block;
}

.link-1{
  margin-bottom: 50px;
}

.link-2{
  margin-top: 25px;
  margin-bottom: 50px;
}

.link-3{
    margin-top: 25px;
    margin-bottom: 50px;
}

.link-4{
    margin-top: 25px;
}

.test-2 p{
    color: rgb(0, 255, 8);
    font-size: 20px;
    max-height: 60px;
    overflow: auto;

}
