@use "sass:math";

@import "_mixins.scss";
@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

@import "_common.scss";

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: rem(12);
    line-height: 1.66; //* 20/12 */


}

.menu-open {
    body {
        //при открытом меню бургер ма запрещаем всему сайт скрол
        overflow: hidden;
    }
}


.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
    position: relative;

}

[class*="__container"] {
    max-width: rem(1270);
    margin: 0 auto;
    padding: 0 rem(15);
}

.wrapper>main {
    flex: 1 1 auto;
}

// ------------------------------------
.search-open {
    .header__input {
        visibility: visible;
        transform: translateX(rem(0));
        opacity: 1;



    }

    .header__form {
        transform: translateX(rem(0));
    }

    .header__menu {
        transform: translateX(rem(0));
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000c8;
    z-index: 5;

    &__input {
        transition: all 0.4s;
        appearance: none;
        padding: rem(5) rem(10);
        border-radius: rem(8);
        width: rem(200);
        transform: translateX(rem(225));
        opacity: 0;
        visibility: hidden;

        @media (max-width: em(500)) {
            width: rem(100);
            transform: translateX(rem(125));
        }

        @media (max-width: em(400)) {
            width: rem(75);
            transform: translateX(rem(100));
        }
    }

    &__container {
        position: relative;
        z-index: 3;
    }

    &__wrapper {
        display: flex;

        gap: rem(25);
        min-height: rem(97);
        align-items: center;

        @media (max-width: em(991.98)) {
            min-height: rem(77);
        }

        @media (max-width: em(767.98)) {
            min-height: rem(57);
        }
    }

    &__logo {
        flex-grow: 1;
        position: relative;
        z-index: 2;

        a {
            font-weight: 700;
            font-size: rem(18);
            line-height: 1.39;
            color: #F8F9FA;

            transition: all 0.4s;

            @media (any-hover: hover) {
                &:hover {
                    color: #DDBEA9;
                }
            }
        }

    }

    &__menu {
        @media (min-width: em(601)) {
            transform: translateX(rem(225));
        }

        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.4s;

        @media (min-width: em(601)) {
            &:not(:last-child) {

                &::after {
                    display: inline-block;
                    content: "";
                    width: rem(1);
                    height: rem(25);
                    background-color: #E5E5E5;
                }
            }
        }



        @media (max-width: em(600)) {
            // что б меню бургер могло скролиться если оно больше экрана ,но при этом нужно 
            //запретить скрол сайту задав overflow:hidвen; для body при открытом меню 
            overflow: auto;
            transition: all 0.4s;
            position: fixed;
            top: 0;
            right: 100%;
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: rem(100);
            padding-left: rem(25);
            padding-right: rem(25);
            background: #212529;

            &::before {
                content: "";
                transition: all 0.4s;
                position: fixed;
                z-index: 2;
                top: 0;
                right: 100%;
                width: 100%;
                height: rem(57);
                background: #000000;
            }
        }
    }

    &__form {
        transition: all 0.4s;
        transform: translateX(rem(225));
        display: flex;
        align-items: center;
        gap: rem(25);
        position: relative;
        z-index: 2;

        @media (max-width: em(500)) {
            transform: translateX(rem(125));
        }

        @media (max-width: em(400)) {
            transform: translateX(rem(100));
        }


        @media (max-width: em(600)) {
            &:not(last-child) {
                &::after {
                    content: "";
                    width: rem(1);
                    height: rem(35);
                    background-color: #E5E5E5;
                }
            }
        }
    }

    &__button {
        width: rem(12);
        height: rem(12);

        background: url("../img/svg/search.svg") 0 0/contain no-repeat;

        @media (max-width: em(600)) {
            width: rem(25);
            height: rem(25);
        }
    }

    &__burger-button {
        @media (min-width: em(601)) {
            display: none;
        }

        position: relative;
        z-index: 2;
        width: rem(25);
        height: rem(25);

        &::before,
        &::after,
        & span {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: rem(2);
            border-radius: rem(2);
            background-color: rgb(241, 241, 241);
            transition: all 0.3s;
        }

        & span {

            top: 50%;
            margin-top: rem(-1);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }



    }
}

.menu-open {
    .header__menu {
        right: 0;

        &::before {
            right: 0;
        }
    }

    .header__burger-button span {
        left: 50%;
        width: 0;
    }

    .header__burger-button::before {
        top: 50%;
        margin-top: rem(-1);
        transform: rotate(45deg);
    }

    .header__burger-button::after {
        bottom: 50%;
        margin-bottom: rem(-1);
        transform: rotate(-45deg);
    }
}

.menu-header {

    &__list {
        padding-right: rem(25);
        display: flex;
        flex-wrap: wrap;
        gap: rem(10) rem(25);

        @media (max-width: em(600)) {
            flex-direction: column;
            row-gap: rem(20);
            align-items: flex-start;
            padding-right: rem(0);
        }
    }

    &__item {}

    &__link {
        font-weight: 500;
        line-height: 2.08;
        color: rgba(248, 249, 250, 0.5);
        position: relative;
        display: inline-block;
        transition: all 0.4s;

        &::before {
            @extend %before-line-under;
        }

        @media (min-width: em(601)) {

            @media (any-hover: hover) {
                &:hover {
                    color: #F8F9FA;

                    &::before {
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }



        @media (max-width: em(600)) {
            font-size: rem(40);
            color: #F8F9FA;
        }
    }


    &__item--active {
        @media (min-width: em(601)) {
            .menu-header__link {
                color: #F8F9FA;

                &::before {
                    left: 0;
                    width: 100%;
                }
            }
        }



    }

    &__item--parent {
        display: flex;
        column-gap: rem(5);
        align-items: center;
        position: relative;
        padding-right: rem(12);

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            content: "";
            width: rem(8);
            height: rem(4.85);
            transform: translateY(-50%);
            background: url("../img/svg/menu_parent-arrow.svg") center/contain no-repeat;
            transition: all 0.4s;

            @media (max-width: em(600)) {
                top: rem(45);
                right: -8%;
                transform: translateY(-50%) scale(2.5);
            }
        }

        @media (min-width: em(601)) {
            @media (any-hover: hover) {
                &:hover {
                    &::after {
                        transform: translate(50%, -50%) rotate(-180deg) scale(1.5);
                    }

                    .menu-header__sub-menu {
                        visibility: visible;
                        opacity: 1;
                        padding-top: rem(20);
                        pointer-events: auto;
                    }
                }
            }
        }


        @media (max-width: em(600)) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__sub-menu {



        @media (min-width: em(601)) {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: -20%;
            top: 100%;
            pointer-events: none;
            transition: all 0.4s;
        }
    }
}


.sub-menu {

    &__list {

        display: grid;
        row-gap: rem(10);


        @media (min-width: em(601)) {
            justify-content: start;
            border-radius: rem(5);
            min-width: rem(136);
            background-color: #212529;
            padding: rem(20);
        }
    }

    &__item {}

    &__link {
        font-weight: 500;
        line-height: 2.08;
        color: rgba(248, 249, 250, 0.6);
        display: inline-block;
        position: relative;
        transition: all 0.4s;

        &::before {

            @extend %before-line-under;
            height: rem(1.5);

        }

        @media (min-width: em(601)) {
            @media (any-hover: hover) {


                &:hover {
                    color: #F8F9FA;

                    &::before {
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }

        @media (max-width: em(600)) {
            color: #F8F9FA;
        }

    }
}


// -------------------------- heaader page ----------------------------------------
.main {

    &__header-page {
        width: 100%;
        height: 100vh;
        position: relative;

        &:not(:last-child) {
            margin-bottom: rem(100);
        }
    }
}

.header-page {

    &__container {


        min-height: 100vh;
        padding-top: rem(100);
        padding-bottom: rem(40);
        display: flex;
        flex-direction: column;
        row-gap: rem(40);
        justify-content: flex-end;

        @media (max-width: em(767.98)) {
            padding-top: 30vh;
            align-items: center;
            text-align: center;
            justify-content: space-between;
        }
    }

    &__content {


        display: flex;
        flex-direction: column;
        row-gap: rem(15);

        @media (max-width: em(767.98)) {
            align-items: center;
        }
    }

    &__pages {
        align-self: flex-end;
        letter-spacing: 0.2em;
        position: relative;
        display: flex;
        align-items: center;
        column-gap: rem(10);

        &::before {

            content: "";
            background-color: #F8F9FA;
            width: rem(44);
            height: rem(1);
        }

        @media (max-width: em(767.98)) {
            align-self: center;
            font-size: rem(20);
            padding: rem(10) rem(15);
            border-radius: rem(10);
            background-color: #21252977;
        }
    }

    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            z-index: -1;
            transition: all 0.4s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.content-header {

    &__date {}

    &__title {
        max-width: rem(605);
    }

    &__text {
        max-width: rem(365);
    }
}

.date {}

.date--grey {}

.title {}

.title--white {}

.text {}

.text--white {}

// -------------- category header
.main__category-page {
    &:not(:last-child) {
        margin-bottom: rem(100);
    }
}

.category-page {

    &__header-category {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: rem(44);
        }
    }

    &__title {
        display: flex;
        align-items: center;
        column-gap: rem(7);
    }

    &__columns {
        display: flex;
        align-items: center;
        column-gap: rem(20);
    }

    &__column {}
}


// ----------cards

.category-page {

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        gap: rem(45) rem(30);

        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

    }
}

.card {


    //-------------------------
    &__header {
        &:not(:last-child) {
            margin-bottom: rem(30);

            @media (max-width: em(450)) {
                margin-bottom: rem(20);
            }
        }

        position: relative;
        padding-bottom: 63.613232%; //* 250/393 */3
        overflow: hidden;
        border-radius: rem(3);

        @media (any-hover: hover) {
            &:hover {



                img {
                    transform: scale(1.1);
                }


            }
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;



        img {
            transition: all 0.4s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        transition: all 0.4s;
        position: absolute;
        top: 12%; //* 30/250 */
        right: 7.633588%; //* 30/393 */
        font-weight: 700;
        font-size: rem(8);
        line-height: 2.5;
        color: #F8F9FA;
        padding: rem(2.5) rem(12.5);
        background: rgba(33, 37, 41, 0.3);
        border-radius: rem(3);

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.25);
                background: rgba(33, 37, 41, 0.6);
            }
        }
    }

    //-------------------------
    &__text-block {
        flex: 1 1 auto;
        display: grid;
        row-gap: rem(15);
        align-content: start;

        &:not(:last-child) {
            margin-bottom: rem(15);

            @media (max-width: em(450)) {
                margin-bottom: rem(10);
            }
        }
    }

    &__date {}

    &__title {
        transition: all 0.4s;

        @media (any-hover: hover) {
            &:hover {
                color: #CCD5AE;
            }
        }
    }

    &__text {}

    //-------------------------
    &__footer {
        padding-top: rem(15);
        border-top: rem(1) solid #E5E5E5;

        @media (max-width: em(450)) {
            padding-top: rem(10);
        }

        &:not(:last-child) {

            margin-bottom: rem(15);
        }
    }

    &__author {


        span {
            display: inline-block;
            position: relative;

            &::before {
                @extend %before-line-under;
                height: rem(1);
                background-color: dodgerblue;

            }
        }

        @media (any-hover: hover) {
            &:hover {
                span {
                    &::before {
                        left: 0;
                        width: 100%;

                    }
                }
            }
        }

    }
}

.category-page {

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        color: #F8F9FA;
        padding: rem(7.5) rem(49.5);
        border: rem(1) solid #212529;
        background-color: #212529;
        border-radius: rem(3);
        transition: all 0.4s;

        @media (any-hover: hover) {
            &:hover {
                color: black;
                background-color: #F8F9FA;
            }
        }
    }
}


// ------------------------ Ft - topics
.main {

    &__ft-topics {
        background: #212529;
        position: relative;

        &:not(:last-child) {
            margin-bottom: rem(100);
        }


    }
}

.topics {

    &__container {
        display: grid;

        justify-content: start;
        padding-top: rem(100);
        padding-bottom: rem(100);

        @media (max-width: em(991.98)) {
            padding-top: rem(50);
            padding-bottom: rem(50);
        }

        @media (max-width: em(767.98)) {
            justify-content: center;
        }
    }

    &__title {

        font-weight: 500;
        font-size: rem(25);
        line-height: 80%; //* 20/25 */
        color: #F8F9FA;

        &:not(:last-child) {
            margin-bottom: rem(60);
        }

        @media (max-width: em(767.98)) {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(40);
        max-width: rem(498); //* 498/1240 */

        @media (max-width: em(1024)) {
            max-width: rem(478);
        }

        @media (max-width: em(970)) {
            max-width: rem(408);
        }

        @media (max-width: em(767.98)) {
            max-width: rem(700)
        }

    }

    &__right-topic {}
}

.topic {

    &__body {
        display: grid;
        grid-template-columns: 36.345382% 57.630522%; //* 287/498 */
        justify-content: space-between;
        align-items: start;

        column-gap: rem(30);
        row-gap: rem(15);

        @media (max-width: em(500)) {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 100%;
        align-self: center;

        img {
            transition: all 0.4s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {

        display: grid;
        row-gap: rem(15);
    }

    &__date {
        font-weight: 300;
        line-height: 166.666667%; //* 20/12 */
        color: #E5E5E5;
    }

    &__title {
        font-weight: 500;
        font-size: rem(16);
        line-height: 1.56;
        color: #F8F9FA;
    }

    &__text {
        font-weight: 300;
        line-height: 166.666667%; //* 20/12 */
        color: #E5E5E5;
    }
}

.topics {

    &__right-topic {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 48.958333%; //* 705/1440 */

        @media (max-width: em(850)) {
            width: 43.958333%;
        }

        @media (max-width: em(767.98)) {
            position: relative;
            width: 100%;
        }
    }


}

.right-topic {

    &__image-bg {
        position: absolute;
        width: 100%;
        height: 100%;

        overflow: hidden;

        img {
            transition: all 0.4s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    &__wrapper {
        padding: rem(15);
        height: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: em(767.98)) {
            padding-top: rem(100);
            padding-bottom: rem(100);
        }
    }

    &__content {
        flex: 0 1 rem(393);
        display: grid;
        row-gap: rem(15);
        text-align: center;
        justify-items: center;
    }

    &__page {
        line-height: 166.666667%; //* 20/12 */
        letter-spacing: 0.2em;
        color: #E5E5E5;
        display: flex;
        align-items: center;
        column-gap: rem(10);

        &::before {
            content: "";
            width: rem(44);
            height: rem(1);
            background-color: #E5E5E5;
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(25);
        line-height: 160%; //* 40/25 */
        color: #F8F9FA;
    }


    &__text {
        line-height: 1.67;
        color: #E5E5E5;
    }


}

// -------------------------------------------- Big world

.main {
    &:not(:last-child) {
        margin-bottom: rem(100);
    }

    &__big-world {}
}

.big-world {

    &__container {}

    &__title {
        font-weight: 500;
        font-size: rem(25);
        line-height: 80%; //* 20/25 */
        color: #495057;

        &:not(:last-child) {
            margin-bottom: rem(100);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(218), 1fr));
        gap: rem(30);
    }

    &__item {
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: start;
        row-gap: rem(30);

        @media (max-width: em(500)) {
            row-gap: rem(20);
        }
    }
}

.item {


    &__images {
        position: relative;
        width: 100%;
        padding-bottom: 69.686411%; //* 200/287 */
        border-radius: rem(3);
        overflow: hidden;

        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                    filter: brightness(0.6);
                }
            }
        }


    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: rem(3);

        img {
            transition: all 0.4s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    &__link {
        display: block;
        transition: all 0.4s;
        position: absolute;
        top: 12.5%; //* 25/200 */
        right: 8.710801%; //* 25/287 */
        font-weight: 700;
        font-size: rem(8);
        line-height: 2.5;
        color: #F8F9FA;
        padding: rem(2.5) rem(12.5);
        background: rgba(33, 37, 41, 0.3);
        border-radius: rem(3);


        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.25);
                background: rgba(33, 37, 41, 0.6);
            }
        }
    }

    &__text-block {
        display: grid;
        row-gap: rem(15);

        @media (max-width: em(500)) {
            row-gap: rem(10);
        }
    }

    &__date {}

    &__title {
        font-weight: 500;
        font-size: rem(16);
        line-height: 156.25%; //* 25/16 */
        transition: all 0.4s;

        @media (any-hover: hover) {
            &:hover {
                color: #CCD5AE;
            }
        }
    }

    &__text {}
}

// -----------------------------------------