@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.78;
    color: #6C757D;
}

.page {
   padding: 15px 0;
}

[class*="__container"]{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
[class*="__text-block"]{
    max-width: 816px;
    margin: 0 auto 80px;
}

[class*="page__title"]{
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;;
    margin-bottom: 40px;
}

.main-title{
    max-width: 400px;
}

.second-title{
    max-width: 605px;
}

.page__text {
    margin-bottom: 80px;
}

[class*="page__text"] p{
    margin-bottom: 30px;
}

.page__images{
    margin-bottom: 80px;
   
}

[class*="page__images"]{
    font-size: 0;
}

[class*="page__images"] img{
    
    max-width: 605px;
    vertical-align: middle;
}

img{
    width: 100%;
}

[class*="page__images"] img,
.desert-img{
    border-radius: 5px;
}

.boat,
.black_cloth{
    margin-right: 30px;
}

.cloth,
.second-page__images,
.second-page__text-block{
    margin-bottom: 100px;
}




.page__icon {
    color: #C4C4C4;
    font-weight: 700;
    font-size: 8px;
    line-height: 2.5;
    display: inline-block;
    margin-right: 15px;
    padding: 2px 15px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    transition: all 0.7s ease;
}

.page__icon:hover{
    font-size: 15px;
    border: 1px solid black;
    background-color: #C4C4C4;
    color: aliceblue;
}


.description{
    margin-bottom: 60px;
}

.description__titles:not(:last-child)  {
    margin-right: 30px;
}
.description__titles {
    display: inline-block;
    width: 178px;
}
.description__title {
    font-weight: 500;
    color: #212529;
}
.description .description__text {
    margin: 0;
}






.button{
    font-size: 0;
    text-align: center;
}

.button li{
    display: inline-block;
}


.button li:not(:last-child){
    margin-right: 20px;
} 

button{
    
}

.button a{
    padding: 15px;
    background-color: orange;
    border-radius: 25px;
    border: 2px solid black;
    color: white;
    font-size: 25px;
    line-height: 1.6;
    font-weight: 700;
    display: inline-block;
    box-shadow: -3px 3px 5px 0px rgb(166, 108, 0),-6px 6px 5px 0px rgb(86, 56, 0);
    transition: all 0.3s ease;
}

.button a:hover{
    transition: all 0.3s ease;
    box-shadow: -2px 2px 0px 0px rgb(153, 100, 0);
    background-color: rgb(170, 28, 0);
    border: 2px solid rgb(38, 0, 255);
    color:black;
    outline:  6px dashed rgb(0, 0, 0);;
}

/*  -----------------Practice---------------------  */
.practice__title{
    margin-bottom: 10px;
    font-weight: 700;
    color: darkgreen;
    text-align: center;
    font-size: 35px;
    border-bottom: 3px solid darkgreen;
    
}


.practice-subtitle{
    border-radius: 10px;
    text-align: center;     
    color: red;
    border-top: 10px solid;
    border-left: 10px solid;
    border-right:  10px solid ;
    transition: all 0.2s ease;
    
  }
  
  .practice-subtitle:hover{
     
      border-top: 0px solid;
      transition: all 0.2s ease;
      border-bottom: 10px solid;
      border-left: 15px solid;
      border-right:  5px solid ;
  
      box-shadow: -5px 5px 10px 3px rgb(106, 0, 0);
  }




.practice__page p{
    margin: 0 auto 30px;
    background-color: brown;
    border-radius: 50%;
    box-shadow: 0 5px 5px 5px rgb(87, 34, 34);
    overflow: hidden;
    color: aliceblue;
    transition: all 0.7s ease;
    max-width: 50%;
}

.practice__page p:hover{
    max-width: 100%;
    border-radius: 5%;
    color: black;
    background-color: rgb(155, 165, 42);
    box-shadow: 0 5px 5px 5px rgb(100, 106, 41);
    transition: all 0.7s ease;
}



[class*="practice__img"]
{
    border-radius: 25%;
    overflow: hidden;
    box-shadow: 0px 4px 6px 0px black;
    border: 1px solid gray;
    transition: all 0.7s ease;
}
.practice__img-desert:hover{
    opacity: 0.5;
    outline: 10px dashed red;
    transition: all 0.7s ease;
}
.practice__img-boat:hover,
.practice__img-lake:hover{
    transition: all 0.7s ease;
    opacity: 0;
    outline: 10px dashed red;
}







